<!DOCTYPE html>
<!-- IMPORTANT CODE: always put this so that your HTML can read Thymeleaf code-->
<html xmlns: th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO=8859-1">
	<title>Employee Management System</title>

	<!-- Bootstrap CSS, just to make the page readable-->
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
	<!-- you can put this link into any HTML header to access bootstrap CSS-->
	
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<div th:fragment="header" id="header">
		<div class = "nav">
			<table>
				<tr>
					<td><a href="#home">Welcome to the Employee Management System</a></td>
					<td><a href="#news"></a></td>
					<td><a href="#contact"></a></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div th:fragment="menu" id="menu">
		<div class="sidenav">
				<div><!--th:if="${user has not logged in}"-->
					<div class="login-form" style="text-align: center">
						<form>
							<input type= "text" class = "form-control form-control-sm" placeholder = "username">
							<input type = "text" class = "form-control form-control-sm" placeholder = "password">
							<button type = "submit" class = "btn">Login</button>
						</form>
					</div>
				</div>
				<div><!--th:if="${user is student}"-->
					<a href="#">My Courses</a>
					<a href="#">Enroll a Class</a>
					<a href="#">CGPA Calculator</a>
				</div>
				<div><!--th:if="${user is lecturer}"-->
					<a href="#">View My Courses</a>
					<a href="#">Grade Course</a>
					<a href="#">View Student Performance</a>
				</div>
				<div><!--th:if="${user is admin}"-->
					<a href="#">Manage Students</a>
					<a href="#">Manage Lecturers</a>
					<a href="#">Manage Courses</a>
				</div>
				<div>
					<a href="#">Logout</a>
				</div>
	
		</div>
	</div>
	

</body>
</html>